<h1>Listing banc_wheres</h1>

<table>
  <thead>
    <tr>
      <th>N rue</th>
      <th>Adress</th>
      <th>Code postal</th>
      <th>Ville</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banc_wheres.each do |banc_where| %>
      <tr>
        <td><%= banc_where.n_rue %></td>
        <td><%= banc_where.adress %></td>
        <td><%= banc_where.code_postal %></td>
        <td><%= banc_where.ville %></td>
        <td><%= link_to 'Show', banc_where %></td>
        <td><%= link_to 'Edit', edit_banc_where_path(banc_where) %></td>
        <td><%= link_to 'Destroy', banc_where, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banc where', new_banc_where_path %>
